$verdeInstitucional: #7b9480;
$ocreInstitucional: #eae9e4;
$verdeHovers: #5d7261;
$rosaInstitucional: #E9ABA9;
$botones: ( 
        Grales: $verdeInstitucional,
        Compra:  $rosaInstitucional,
); 

